.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    height: 270px;
    margin: 12px 0;
    position: relative;
    padding-top: 50px;
    
}

.p{
    font-size: 25px;
}

.btn1{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 10px;
}
.btn1{
    height: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23db8ea9;
    color: #fff;
    transition: all 0.2s linear;
}

.btn1:hover{
    background-color: #23db8e;
    padding: 20px 0;
}

.btn2{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 10px ;
}
.btn2{
    height: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eb2e6ac5;
    color: #fff;
    transition: all 0.2s linear;
}

.btn2:hover{
    background-color: #EB2E6A;
    padding: 20px 0;
}

.info{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    border: none;
    height: 20px;
    width: 100%;
    background-color: #eebb12cc;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}


.info:hover{
    background-color: #eebb12;
    padding-bottom: 160px;
}
