.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    height: 250px;
    margin: 12px 0;
    position: relative;
    padding-top: 50px;
    background-color: rgb(196, 188, 141);
}

.ptask{
    font-size: 25px;
}

.btn1{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 10px;
}

.btn1{
    height: 10px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23db8ea9;
    color: #fff;
    transition: all 0.2s linear;
}

.btn1:hover{
    background-color: #23db8e;
    padding: 20px 0;
    width: 20%;
}

.btn2{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 10px ;
}

.btn2{
    height: 10px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eb2e6ac5;
    color: #fff;
    transition: all 0.2s linear;
}

.btn2:hover{
    background-color: #EB2E6A;
    padding: 20px 0;
    width: 20%;
}

.info{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
    border: none;
    height: 25px;
    width: 100%;
    background-color: #eebb12cc;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}

.info:hover{
    background-color: #eebb12;
    padding-bottom: 160px;
}

 .span1 {
     opacity: 1;
     transition: all 0.4s linear;
 }

.span2{
    opacity: 0;
    transition: all 0.4s linear;
}

.info:hover .span2 {
    opacity: 1;
  }
.info:hover .span1 {
     opacity: 0;
   }
