.aboutHolder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.address {
    margin-bottom: 3px;
    margin-left: 1rem;
    font-size: 13px;
    font-style: italic;
}
.contactsUser {
    width:100%;
    padding: 0 2rem 1rem;
}
.contactUser { 
    display:flex;
    flex-direction: row;
    align-items: center;
}
.contactUser svg { 
    color:rgb(47, 138, 161)
}
.userInfo{
    font-size: 14px;
    font-family: sans-serif;
}

.aboutText{
    width:70%;
    margin: 0 auto 2rem;
    font-size: 23px;
    color:#000;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.contentTitle {
    font-size: 30px !important;
}
@media screen and (min-width:320px) and (max-width:767px) {
    .aboutWrapper {
        display: grid;
        grid-template-areas: 
            'aboutSidebar'
            'aboutContent'
        ;
        grid-template-columns:1fr;
        grid-template-rows:1fr;
    }
    .aboutHolder {
        height: auto;
        text-align: justify;
    }
    .aboutText{
        font-size: 20px;
        width:90%;
    }
}
@media screen and (min-width:768px) {
   .fixedCard{
       position: fixed;
       width: 280px;
   }
}