h1{
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    margin-top: 20px;
}

.ptux{
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
}

.todo{
    text-align: center;
    max-height: 100%;
    min-width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #cdd6d5;
    position: absolute;
    font-family: inherit;
}

.toolsWrap{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.btnWrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 60px;
    border-bottom: 2px solid #ccc;
    padding: 0;
}

.searchWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.todoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btn{
    width: 140px;
    height: 34px;
    margin-bottom: 10px;
}

.btn:active {
    transform: translateY(2px);
}
  

.addBtn{
    background: #003049;
    font-weight: 700;
    color: snow;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    transition: all 0.2s ease;
}

.addBtn:hover {
    background-color: rgba(19, 84, 87, 0.856);
    transition: all 0.2s ease;
    cursor: pointer;
} 

.addBtn:active {
	transform: translateY(2px);
}

.addBtn:disabled{
    opacity: 0.5;
    transition: 0.1s;
    transition: none;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #696969;
	border-radius: 5px;
}

.deleteCheckedBtn{
    width: 100%;
    height: 100%;
    font-weight: 700;
    border-radius: 4px;
    border: 0;
    background: #D62828;
    color: snow;
    transition: all 0.2s ease;
}

.deleteCheckedBtn:active {
	transform: translateY(2px);
}

.deleteCheckedBtn:hover {
	background-color: rgb(252, 81, 69);
	transition: all 0.2s ease;
	cursor: pointer;
} 

.deleteCheckedBtn:disabled{
    opacity: 0.5;
    transition: 0.1s;
    transition: none;
}

.checkedAllTasksBtn{
    background: #1e3836;
    font-weight: 700;
    color: snow;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    transition: all 0.2s ease;
}

.checkedAllTasksBtn:active {
    transform: translateY(2px);
}

.checkedAllTasksBtn:hover {
    background-color: rgb(55, 95, 89);
    transition: all 0.2s ease;
    cursor: pointer;
} 

.checkedAllTasksBtn:disabled{
    opacity: 0.5;
    transition: 0s;
    transform: none;
}

.footer{
    display: flex;
    justify-content: center;
}

.btn1{
    width: 15%;
    height: 40px;
	padding: 8px 0;
    border: 0;
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
    margin-right: 5px;
} 

.btn1:focus {
	outline: none;
}

.btn1:active {
	transform: translateX(-5px);
}

.btn1:hover {
	transition: all 0.2s ease;
	cursor: pointer;
} 

.btn1:disabled{
    opacity: 0.5;
} 

.btn2{
    width: 15%;
    height: 40px;
	padding: 8px 0;
    border: 0;
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
} 

.btn2:focus {
	outline: none;
}

.btn2:active {
	transform: translateX(-5px);
}

.btn2:hover {
	transition: all 0.2s ease;
	cursor: pointer;
} 

.btn2:disabled{
    opacity: 0.5;
} 

.btn2:active{
    transform: translateX(5px);
}

@media (max-width: 572px) {
    .btnWrap{
       flex-direction: column;
       margin-top: 80px;
    }
    .todoTitle{
        margin-bottom: 15px;
        margin-top: 60px;
          border: 1px solid green;
    }
    .searchWrap:nth-child(1){
        display: none;
    }
    .searchWrap:nth-child(2){
        padding-top: 20px;

    }
}

