.wrapper{
    text-align: center;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow-y: scroll;
    background-color: #e1f0c4;
    position: absolute;
}

h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.ptux{
    margin: 0 auto;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.addBtn{
    margin: 27px 0;
    padding: 5px 15px;
    border: 0;
    background: #003049;
    font-weight: 700;
    color: snow;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.addBtn:focus {
    outline: none;
}

.addBtn:hover {
  background-color: rgba(19, 84, 87, 0.856);
  transition: all 0.2s ease;
  cursor: pointer;
} 

.addBtn:active {
	transform: translateY(2px);
}

.addBtn:disabled{
    opacity: 0.5;
    transition: 0.1s;
    transition: none;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #696969;
	border-radius: 5px;
}
 
.btnWrap{
    display: flex;
    height: 70px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.deleteCheckedBtn{
    padding: 3px 9px;
    border-radius: 4px;
    border: 0;
    background: #D62828;
    color: snow;
    transition: all 0.2s ease;
}

.deleteCheckedBtn:focus {
	  outline: none;
}

.deleteCheckedBtn:active {
	transform: translateY(4px);
}

.deleteCheckedBtn:hover {
	background-color: rgb(252, 81, 69);
	transition: all 0.2s ease;
	cursor: pointer;
} 

.deleteCheckedBtn:disabled{
    opacity: 0.5;
    transition: 0.1s;
    transition: none;
}

.checkedAllTasksBtn{
    padding: 2px 33px;
    border-radius: 4px;
    border: 0;
    background: #1e3836;
    color: snow;
    transition: all 0.2s ease;
}

.checkedAllTasksBtn:focus {
    outline: none;
}

.checkedAllTasksBtn:active {
  transform: translateY(4px);
}

.checkedAllTasksBtn:hover {
  background-color: rgb(55, 95, 89);
  transition: all 0.2s ease;
  cursor: pointer;
} 

.checkedAllTasksBtn:disabled{
    opacity: 0.5;
    transition: 0s;
    transform: none;
}

  .footer{
    display: flex;
    justify-content: center;
}

.btn1{
    width: 15%;
    height: 40px;
	padding: 8px 0;
    border: 0;
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
    margin-right: 5px;
} 

.btn1:focus {
	  outline: none;
}

.btn1:active {
	transform: translateX(-5px);
}

.btn1:hover {
	transition: all 0.2s ease;
	cursor: pointer;
} 

.btn1:disabled{
    opacity: 0.5;
} 

.btn2{
    width: 15%;
    height: 40px;
	padding: 8px 0;
    border: 0;
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
} 

.btn2:focus {
	  outline: none;
}

.btn2:active {
	transform: translateX(-5px);
}

.btn2:hover {
	transition: all 0.2s ease;
	cursor: pointer;
} 

.btn2:disabled{
    opacity: 0.5;
} 

.btn2:active{
    transform: translateX(5px);
}