.content{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80vh;
    border: 3px solid #c5c5c5;
    overflow: hidden;
    position: relative;
    z-index: 900;
    background: #e1f0c4;
}
