.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 280px;
    transition: all 0.1s ease;
    font-family: inherit;
}

.checkedWrapper{
    opacity: 0.7;
}

.wrapper:hover{
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    cursor: pointer;
}

.toolsWrapper{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 5px;
    font-weight: 500;
    font-style: inherit;
    border: none;
    height: 25px;
    background-color: #003049;
    color: #EAE2B7;
    cursor: pointer;
    transition: all 0.3s linear;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.info:hover{
    padding-bottom: 100px;
}

.info:hover .span2 {
    opacity: 1;
  }
.info:hover .span1 {
     opacity: 0;
} 

.editBtn{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    background: #F77F00;
    color: snow;
    transition: all 0.2s ease;
} 

.editBtn:focus {
	  outline: none;
}

.editBtn:active {
	transform: translateY(4px);
}

.editBtn:hover {
	background-color: rgb(255, 163, 77);
	transition: all .2s ease;
	cursor: pointer;
}

.editBtn:disabled{
    opacity: 0.5;
    transform: none;
}

.deleteBtn{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    background: #D62828;
    color: snow;
    transition: all 0.2s ease;
} 

.deleteBtn:focus {
	  outline: none;
}

.deleteBtn:active {
	transform: translateY(4px);
}

.deleteBtn:hover {
	background-color: rgb(252, 81, 69);
	transition: all 0.2s ease;
	cursor: pointer;
}

.deleteBtn:disabled{
    opacity: 0.5;
    transform: none;
}

.statusBtn{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    background: #6d4449;
    color: snow;
    transition: all 0.2s ease;
} 

.statusBtn:focus {
	  outline: none;
}

.statusBtn:active {
	transform: translateY(4px);
}

.statusBtn:hover {
	background-color: #964b54d3;
	transition: all 0.2s ease;
	cursor: pointer;
}

.statusBtn:disabled{
    opacity: 0.5;
    transform: none;
}

.activestatusBtn{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    background: #01b801;
    color: snow;
    transition: all 0.2s ease;
}
.activestatusBtn:focus {
    outline: none;
}

.activestatusBtn:active {
  transform: translateY(4px);
}

.activestatusBtn:hover {
  background-color: #13c413b7;
  transition: all 0.2s ease;
  cursor: pointer;
}

.activestatusBtn:disabled{
  opacity: 0.5;
  transform: none;
}

.inpt{
    height: 30px;
    width: 30px;
}

.inpt:hover {
   cursor: pointer;
}

.link{
    position: relative;
    color: #003049;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition:color 0.2s linear;
}
  
.link:after{
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color:  #003049;
    position: absolute;
    transition: all 0.2s linear;
}
  
.link:hover::after {
    opacity: 1;
  
}

@media (max-width: 572px) {
    .wrapper{
        align-items: center;
        margin-left: 30px;
    }
}
  