.wrapper{
    border: 1px dashed rgb(126, 126, 126);
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    padding: 10px;
}

.wrapper2{
    max-height: 175px;
    overflow-x: hidden;
    border: 0.5px solid rgb(155, 155, 155);
    overflow-y: scroll;
    padding: 0 30px;
    border-radius: 5px;
}

h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    margin-top: 20px;
}
::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: #696969;
	border-radius: 5px;
}
 