.wrapper{
    border: 1px solid rgb(26, 3, 3);
    margin: 0 auto;
    text-align: center;
    width: 600px;
    max-height: 80vh;
    min-height: 80vh;
    padding: 10px;
    overflow: scroll;
    background-color: #EAE2B7;
}

h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.ptux{
    margin: 0 auto;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;

}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #696969;
	border-radius: 5px;
}
 
.btnWrap{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.deleteCheckedBtn{
    padding: 3px 9px;
    border-radius: 4px;
    border: 0;
    background: #D62828;
    color: snow;
    transition: all 0.2s ease;
}

.deleteCheckedBtn:focus {
	  outline: none;
}

.deleteCheckedBtn:active {
	transform: translateY(4px);
}

.deleteCheckedBtn:hover {
	background-color: rgb(252, 81, 69);
	transition: all 0.2s ease;
	cursor: pointer;
} 

.deleteCheckedBtn:disabled{
    opacity: 0.5;
    transition: 0.1s;
    transition: none;
}

.checkedAllTasksBtn{

    padding: 3px 9px;
    border-radius: 4px;
    border: 0;
    background: #1e3836;
    color: snow;
    transition: all 0.2s ease;

}



.checkedAllTasksBtn:focus {
    outline: none;
}

.checkedAllTasksBtn:active {
  transform: translateY(4px);
}

.checkedAllTasksBtn:hover {
  background-color: rgb(55, 95, 89);
  transition: all 0.2s ease;
  cursor: pointer;
} 

.checkedAllTasksBtn:disabled{
    opacity: 0.5;
    transition: 0s;
    transform: none;
  }
