.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #e1f0c4;
} 

.singleTaskTitleWrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.singleTaskContentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.singleTaskContent{
    border: 2px solid #91ff00ce;
    width: 790px;
    margin: 10px;
    min-height: 260px;
    background: rgb(40,40,40);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 0 30px rgb(40,40,40); */
    overflow: hidden;
    color: #edf2ef;
}

.title{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.descriptionText{
    font-size: 20px;
    width: 80%;
    border: 1px solid #ffa600;
    padding: 0px 10px;
}

.titleText{
    font-size: 20px;
    width: 77%;
    border: 1px solid #ffa600;

}

.gobackBtn{
    padding: 5px 12px;
    border-radius: 4px;
    border: 0;
    background: #98d646;;
    color: snow;
    transition: all 0.2s ease;
}

.gobackBtn:focus {
    outline: none;
}

.gobackBtn:hover {
  background-color: #98d646ce;
  transition: all 0.2s ease;
  cursor: pointer;
} 

.gobackBtn:active {
	transform: translateY(4px);
}

.editBtn{
    padding: 5px 28px;
    border-radius: 4px;
    border: 0;
    background: #57c4e5;
    color: snow;
    transition: all 0.2s ease;
    margin-right: 5px;
} 

.editBtn:focus {
	  outline: none;
}

.editBtn:active {
	transform: translateY(4px);
}

.editBtn:hover {
	background-color: #57c4e5c4;
	transition: all .2s ease;
	cursor: pointer;
}

.deleteBtn{
    padding: 5px 18px;
    border-radius: 4px;
    border: 0;
    background: #fd5249;
    color: snow;
    transition: all 0.2s ease;
    margin-right: 5px;
} 

.deleteBtn:focus {
	  outline: none;
}

.deleteBtn:active {
	transform: translateY(4px);
}

.deleteBtn:hover {
	background-color: rgba(252, 81, 69, 0.753);
	transition: all 0.2s ease;
	cursor: pointer;
}

@media (max-width: 1000px) {
    .singleTaskContent{
        width: 690px;

    }
  }

@media (max-width: 890px) {
    .singleTaskContent{
        width: 590px;

    }
  }

@media (max-width: 780px) {
    .singleTaskContent{
        width: 490px;

    }
  }  
  

@media (max-width: 650px) {
    .singleTaskContent{
        width: 390px;

    }
    .title{
        display: flex;
        font-size: 25px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
  }

  @media (max-width: 510px) {
    .singleTaskContent{
        width: 280px;

    }
    .title{
        display: flex;
        font-size: 25px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
  }

  
@media  (max-width: 360px){

    .singleTaskContent{
        width: 230px;

    }
    .descriptionText{
        font-size: 15px;
    }
    .titleText{
        font-size: 15px;
    }
    .deleteBtn{
        padding: 3px 10px;
    }
    .editBtn{
        padding: 3px 10px;
    }
    .gobackBtn{
        padding: 3px 10px;
    }
  }