.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #e1f0c4;
} 

.singleTaskTitleWrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;

}

.singleTaskContentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonWrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    height: 30px;
    width: 100px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.singleTaskContent{
    background: rgb(40,40,40);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: #edf2ef;
}

.title{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.descriptionText{
    font-size: 20px;
    width: 80%;
    border: 1px solid #ffa600;
    padding: 0px 10px;
}

.titleText{
    font-size: 20px;
    width: 77%;
    border: 1px solid #ffa600;

}

.gobackBtn{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    background: #98d646;;
    color: snow;
    transition: all 0.2s ease;
}

.gobackBtn:focus {
    outline: none;
}

.gobackBtn:hover {
  background-color: #98d646ce;
  transition: all 0.2s ease;
  cursor: pointer;
} 

.gobackBtn:active {
	transform: translateY(4px);
}

.editBtn{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    background: #57c4e5;
    color: snow;
    transition: all 0.2s ease;
    margin-right: 5px;
} 

.editBtn:focus {
	  outline: none;
}

.editBtn:active {
	transform: translateY(4px);
}

.editBtn:hover {
	background-color: #57c4e5c4;
	transition: all .2s ease;
	cursor: pointer;
}

.deleteBtn{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0;
    background: #fd5249;
    color: snow;
    transition: all 0.2s ease;
    margin-right: 5px;
} 

.deleteBtn:focus {
	  outline: none;
}

.deleteBtn:active {
	transform: translateY(4px);
}

.deleteBtn:hover {
	background-color: rgba(252, 81, 69, 0.753);
	transition: all 0.2s ease;
	cursor: pointer;
}

  @media (max-width: 420px) {
    .singleTaskContent{
        width: 280px;
    }
    .buttonWrap{
        flex-direction: column;
    }
    .btn:nth-child(2){
        margin-right: 0;
        margin-bottom: 5px;
    }
    .btn:nth-child(1){
        margin-right: 0;
        margin-bottom: 5px;
    }
    .btn:nth-child(3){
        margin-right: 0;
        margin-bottom: 25px;
    }
    .title{
        display: flex;
        font-size: 25px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    
  }
