.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 10vh;
  border: 3px solid #865f49;
  background-color: #ffb488;
  z-index: 900;
  overflow: hidden;
  margin-bottom: 5px;
}
.item{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.item a{
  position: relative;
  color: #72606e;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  transition:color 0.2s linear;
}

.item a:after{
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 3px;
  background-color:  #3d323b;
  position: absolute;
  transition: all 0.2s linear;
}

.item a:hover{
  color: #3d323b;
  text-decoration: none;
}

.item a:hover::after {
  opacity: 1;
}

a.active{
  color: #443d43;
}

/* sadsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */
.burger{
  display: none;
}

.menuToggle
{
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 5px;
}

.menuToggle a{
  padding-right: 20px;
  position: relative;
  color: #72606e;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  transition:color 0.2s linear;
}

.menuToggle a:hover
{
  color: tomato;
}

.menuToggle a:after{
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 3px;
  background-color:  #3d323b;
  position: absolute;
  transition: all 0.2s linear;
}

.menuToggle a:hover{
  color: #3d323b;
  text-decoration: none;
}

.menuToggle a:hover::after {
  opacity: 1;

}

a.active{
  color: #443d43;
  
}


.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
.menuToggle span{
  display: block;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  position: relative;
  background: rgb(136, 136, 136);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(135deg) translate(-15px, -23px);
  background: rgb(136, 136, 136);
}

.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-135deg) translate(-24px, 24px);
}

.menu
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65px;
  width: initial;
  margin: -46px 0 0 -240px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform: translate(130%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menuToggle input:checked ~ div
{
  transform: none;
}

@media (max-width: 420px) {
  .burger{
     display: block;
  }
  .item{
    display: none;
  }
  .menu a:after{
    content: "";
    display: none;
    opacity: 0;
  }
  .nav{
    justify-content: flex-end;
  }
}

@media (max-width: 376px) {
  .menu{
   margin: -46px 0 0 -220px;
   transform: translate(130%, 0);
  }
 }

@media (max-width: 330px) {
 .menu{
  margin: -46px 0 0 -205px;
  transform: translate(130%, 0);
 }
}