.wrapper{
    text-align: center;
}

.item{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer{
    width: 80%;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.itemInput {
	width: 60%;
    background: #fff;
    border: 1px solid #bebebe;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    line-height: 1.1;
    border-radius: 2px;
}
  
.itemInput:focus {
	outline: 0;
    border-color: #166996;
}

.itemInput::placeholder{
    color: #ccc;
}
  
.itemInput:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;} 

.textarea{
    resize: none;
    width: 60%;
    height: 80px;
    background: #fff;
    border: 1px solid #bebebe;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding: 13px 0 0 15px;
    border-radius: 2px;
    margin: 5px 0;
}  

.textarea:focus{
    outline: 0;
    border-color: #166996;
}

textarea::placeholder{
    color: #ccc;
}
  
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;} 

.datepickerWrapper{
    width: 60%;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.datepickerWrapper input{
    height: 30px;
    width: 80px;
    background: #fff;
    border: 1px solid #bebebe;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    border-radius: 2px;
}

.datepickerWrapper input:focus {
	outline: 0;
    border-color: #166996;
}

.datepickerWrapper input::placeholder{
    color: #ccc;
}
  
.datepickerWrapper input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;} 

.btn1{
    width: 35%;
    height: 40px;
	padding: 8px 0;
    border: 0;
    background: #003049;
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
    margin-right: 5px;
} 

.btn1:focus {
	  outline: none;
}

.btn1:active {
	transform: translateX(-5px);
}

.btn1:hover {
	background-color: rgba(0, 82, 105, 0.733);
	transition: all 0.2s ease;
	cursor: pointer;
} 

.btn1:disabled{
    opacity: 0.5;
} 

.btn2{
    width: 35%;
    height: 40px;
	padding: 8px 0;
    border: 0;
    background: rgb(119, 119, 119);
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
} 

.btn2:focus {
	  outline: none;
}

.btn2:active {
	transform: translateX(-5px);
}

.btn2:hover {
	background-color: rgba(124, 124, 124, 0.733);
	transition: all 0.2s ease;
	cursor: pointer;
} 

.btn2:disabled{
    opacity: 0.5;
} 

.btn2:active{
    transform: translateX(5px);
}