.wrapper{
    text-align: center;
    margin: 30px;
}

.item{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn{
	width: 10%;
	padding: 8px 0;
    border: 0;
    background: #003049;
    font-weight: 700;
    color: snow;
    border-radius: 0 7px 7px 0;
    transition: all 0.2s ease;
} 

.btn:focus {
	  outline: none;
}

.btn:active {
	transform: translateX(4px);
}

.btn:hover {
	background-color: rgba(0, 82, 105, 0.733);
	transition: all 0.2s ease;
	cursor: pointer;
} 

.btn:disabled{
    opacity: 0.5;
}

input {
	width: 30%;
    height: 40px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding: 13px;
    line-height: 1.1;
    border-radius: 7px 0 0 7px;
}
  
  
input:focus {
	outline: 0;
    border-color: #166996;
}

input::placeholder{
    color: #ccc;
}
  
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;} 