.wrapper{
    text-align: center;
    margin: 30px;
}
.item{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	width: 10%;
	padding: 8px 0;
    border: 0;
    background: #95e1d3;
    font-weight: 700;
    color: snow;
    transition: background 0.2s linear;
} 
.btn:focus {
	  outline: none;
}
.btn:active {
	transform: translateX(4px);
}
.btn:hover {
	background-color: rgb(154, 204, 219);
	transition: ease .2s;
	cursor: pointer;

} 
