@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.contactdata{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #e1f0c4;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: 50px;
    background: rgb(40,40,40);
    overflow: hidden;
    color: #e1f0c4;
}

.formTitle{
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(90, 150, 150);
}

 .validCheck{
    font-size: 14px;
    color: #3cbd01;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    right: 2%;
    padding-bottom: 15px;
 } 

.validDiv{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    color: #e1f0c4;
    font-size: 11px;
    opacity: 0.8;
    background: #ff0000c4;
    border-radius: 2px;
}

.validDiv:after{
    content: '';
  position: absolute; 
  bottom: 100%; 
  left: 45%;
  text-align: center;
  transform: rotate(-90deg);
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: transparent transparent transparent #ff0000c4;
 }

.inpt{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(90, 150, 150);
    width: 100%;
    position: relative;
}

.btnwrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    position: relative;
}

.textWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    position: relative;
}

.iteminput {
    width: 100%;
    margin-bottom: 10px;
    background: rgb(40,40,40);
    border-bottom: 2px solid rgb(90, 150, 150);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    padding: 0px 25px 15px 5px;
    opacity: 0.8;
    color: #e1f0c4;
    font-style: italic;
    line-height: 1.1;
    letter-spacing: 1px;
}
  
.iteminput:focus {
	outline: 0;
    border-color: #e1f0c4;
}

.iteminput::placeholder{
    color: #e1f0c4;
}
  
.iteminput:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;} 

.textarea{
    resize: none;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    background: rgb(40,40,40);
    border-bottom: 2px solid rgb(90, 150, 150);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    padding: 0px 25px 0px 5px;
    overflow-x: hidden;
    opacity: 0.8;
    color: #e1f0c4;
    font-style: italic;
    line-height: 1.1;
    letter-spacing: 1px;
}  

.textarea:focus{
    outline: 0;
    border-color: #e1f0c4;
}
  
.textarea:focus::-webkit-.iteminput-placeholder {opacity: 0; transition: opacity 0.3s ease;} 

.btn{
    border: none;
    height: 100%;
    background: rgb(90, 150, 150);
    font-weight: 700;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 25px;
    font-size: 15px;
    transition: all 0.2s ease;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: translateY(4px);
}

.btn:hover {
    background: #6a8080;
    cursor: pointer;
    transition: all 0.2s ease;
} 

.btn:disabled{
    opacity: 0.5;
    transition: 0.1s;
    transition: none;
} 

.textarea::placeholder{
    color: #e1f0c4;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(90, 150, 150);
    border-radius: 0;

}

@media (max-width: 1207px) {
    .feed{
        font-size: 30px;
    }
  }

@media (max-width: 500px) {
    .wrapper{
        width: 100%;
    }
  }